.sfondo{
    background: red; 
    height: 1000px;
    width: 100%;
}

.titolo{
position: absolute;
width: 584px;
height: 94px;
left: 688px;
top: 393px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 78px;
line-height: 94px;
/* identical to box height */
letter-spacing: 0.03em;
color: #FFFFFF;
}

.subtitle{
    position: absolute;
    width: 622px;
    height: 27px;
    left: 649px;
    top: 512px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.button1{
    position: absolute;
    width: 50px;
    height:50px;
    left: 613px;
    top: 600px;
    background-color: red; 
    border-color: white; 
    border-radius: 10px;
}
.button2{
    position: absolute;
    width: 50px;
    height:50px;
    left: 713px;
    top: 600px;
    background-color: greenyellow; 
    border-color: white; 
    border-radius: 10px;
}
.button3{
    position: absolute;
    width: 50px;
    height:50px;
    left: 813px;
    top: 600px;
    background-color: lightskyblue; 
    border-color: white; 
    border-radius: 10px;
}
.button4{
    position: absolute;
    width: 50px;
    height:50px;
    left: 913px;
    top: 600px;
    background-color: green; 
    border-color: white; 
    border-radius: 10px;
}
.button5{
    position: absolute;
    width: 50px;
    height:50px;
    left: 1013px;
    top: 600px;
    background-color: violet; 
    border-color: white; 
    border-radius: 10px;
}
.button6{
    position: absolute;
    width: 50px;
    height:50px;
    left: 1113px;
    top: 600px;
    background-color: yellow; 
    border-color: white; 
    border-radius: 10px;
}