.sfondo{
    background: red; 
    height: 1000px;
    width: 100%;
}

.titolo{
position: absolute;
width: 584px;
height: 94px;
left: 688px;
top: 393px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 78px;
line-height: 94px;
/* identical to box height */
letter-spacing: 0.03em;
color: #FFFFFF;
}

.subtitle{
    position: absolute;
    width: 622px;
    height: 27px;
    left: 649px;
    top: 512px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #FFFFFF;
}